<div class="product-container">
  <div (click)="navigateToProduct(product.id)">
    <img class="product-image" src="{{ product.url }}" />
  </div>
  <h5>{{ product.pname }}</h5>
  <p>
    {{ product.description }}
  </p>
  <p>Price: ${{ product.price }}</p>
  <label for="amount">Amount:</label>

  <form (ngSubmit)="submitForm()">
    <select
      class="select-input"
      name="Amount"
      id="{{ product.id }}"
      [(ngModel)]="amount"
    >
      <option value="1" selected>1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <button
      value="submit"
      class="btn btn-primary"
      (click)="marked.emit(product)"
    >
      Add to Cart
    </button>
  </form>
</div>
