<form #form="ngForm" (ngSubmit)="submitForm()">
  <div class="checkout-form">
    <h1>Checkout</h1>
    <div class="input-group">
      <label for="fullname">Full name</label>
      <input
        type="text"
        id="fullname"
        name="fullname"
        placeholder="Your full name.."
        required
        [(ngModel)]="fullName"
        #name="ngModel"
      />
    </div>
    <div *ngIf="name.invalid">
      <div *ngIf="name.errors?.['required']">Please provide a full name.</div>
    </div>
    <div class="input-group">
      <label for="address">Address</label>
      <input
        type="text"
        id="address"
        name="address"
        placeholder="Your address.."
        [(ngModel)]="address"
        required
        #location="ngModel"
      />
    </div>
    <div *ngIf="location.invalid">
      <div *ngIf="location.errors?.['required']">
        Please provide an address.
      </div>
    </div>
    <div class="input-group">
      <label for="cc">Credit Card number</label>
      <input
        type="text"
        id="cc"
        name="cc"
        required
        minlength="16"
        maxlength="16"
        placeholder="(16 Digit number).."
        [(ngModel)]="creditCard"
        #credit="ngModel"
      />
    </div>
    <div *ngIf="credit.invalid">
      <div *ngIf="credit.errors?.['required']">
        Please provide a 16 digit credit card.
      </div>
    </div>
    <button
      [disabled]="form.invalid"
      type="submit"
      value="submit"
      class="btn btn-primary"
    >
      Submit
    </button>
  </div>
</form>
