.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.products,
.checkout-form {
  width: 48%; /* Adjust the width as needed, ensuring they fit side by side */
}

.products h1,
.checkout-form h2 {
  text-align: left;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.total {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
}
