.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  background: #202020;
  padding: 20px 200px 20px 200px;
}

a {
  font-weight: bold;
  color: gainsboro;
  font-style: none;
  text-decoration: none;
}
p {
  font-weight: bold;
  color: gainsboro;
  font-style: none;
  text-decoration: none;
}
